.works-block{
  padding: 107px 0;
  font-size: 17px;
  line-height: 27px;

  .container{
    counter-reset:item;
  }

  h2{
    color: #2374bb;
    font-size: 35px;
    line-height: 43px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  p{
    font-style: italic;
  }

  .step-holder{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto 150px;
    justify-content: space-between;
    
  }

  .text-holder{
    width: 50%;
    position: relative;
    padding: 0 80px;
    &:after {
        content:counters(item, ".") " ";
        counter-increment:item;
        position: absolute;
        top: 0;
        left:0;
        height: 50px;
        width: 50px;
        color: #fff;
        background: #0aa7e0;
        border-radius: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 29px;
        line-height: 33px;
    }
  }

  .img-holder{
    width: 50%;
    padding: 0 0 0 50px;

    img{
      display: block;
      margin: 0 auto;
    }
  }

  .list{
    margin: 0;
    padding: 0 0 0 20px;
    list-style: none;
    color: #5a5a5a;

    li{
      padding: 0 0 5px 10px;
      position: relative;
      &:before{
        position: absolute;
        content: '';
        top: 6px;
        left: 0;
        height: 2px;
        width: 2px;
        border-radius: 100%;
        background: #5a5a5a;
      }
    }
  }

  .btn-holder{
    text-align: center;
  }

  .btn-primary{
    background: $cerulean;
    color: $white;
    text-transform: uppercase;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
  }

}