body{
}

.container{
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  @extend %clearfix;
}

.section{
  padding: 50px 0;
}

.d-none{
  display: none !important;
}

.form-holder{
  background: #eafaff;
  padding: 30px;
  text-align: center;
  max-width: 600px;

  .title{
    color: #0aa7e0;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 26px;
  }

  p{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
  }
}

.form{
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea{
    width: 100%;
    border: none;
    background: #fff;
    margin-bottom: 20px;
    padding: 15px 20px;
    @include placeholder{
      color: #a8a8a8;
    }
  }

  textarea{
    resize: none;
    height: 180px;
  }

  .btn-primary{
    background: #0aa7e0;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 10px 40px;
  }
}

.modal-holder{
  position: fixed;
  display: flex;
  align-items: center;
  top:0;
  left: 0;
  right:0;
  bottom:0;
  justify-content: center;
  background: rgba(#0aa7e0 , 0.35);
  text-align: center;


  .title{
    color: #0aa7e0;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  .modal{
    background: #eafaff;
    padding: 50px 100px;
    max-width: 800px;
  }
}