#wrapper{
  position: relative;
  width:100%;
  overflow: hidden;
}

.container{
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  @extend %clearfix;
}

.section{
  padding: 50px 0;
}

.boxes-img{
  margin-bottom: 10px;
}

.d-none{
  display: none !important;
}



.events-block{
  color: #5a5a5a;
  padding: 50px 0;
  
  h3{
    text-transform: uppercase;
    color: #2374bb;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 28px;
  }

  &__subtitle{
    color: #0aa7e0;
    display: block;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  p{
    font-style: italic;
  }

  &__event-holder{
    background: #eafaff;
    padding: 20px 20px 20px 50px;
    max-width: 800px;
    margin: 0 auto 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: 10px;
  }

  &__text-holder{
    flex-grow: 1;
    padding: 0 50px 0 0;
  }

  &__btn-holder{
    flex-shrink: 0;
  }

  .btn-primary{
    background: #0aa7e0;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
  }
}



.download-files-block{
  padding: 50px 0;

  &__download-holder{
    max-width: 600px;
    margin: 0 auto 30px;
    background: #eafaff;
    padding: 20px 30px 20px 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: 10px;
  }

  &__pdf-icon{
    width: 80px;
    margin: 0 40px 0 0;
  }

  h3{
    text-transform: uppercase;
    color: #0aa7e0;
    font-size: 16px;
    line-height: 26px;
  }

  &__download-btn{
    width: 50px;
    display: block;
    align-self:flex-end;
  }

  &__text-holder{
    padding: 0 50px 0 0;
  }
}

.steps-block{
  padding: 50px 0;
  text-align: center;

  h2{
    color: #2374bb;
    text-transform: uppercase;
  }

  &__subtitle{
    color: #0aa7e0;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 23px;
  }

  &__num{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 0 auto 30px;
    border-radius: 5px;
    background: #0aa7e0;
    color: #fff;
    font-size: 22px;
  }

  &__steps-holder{
    display: flex;
    flex-flow: row wrap;
    margin: 0 -15px 40px;
  }

  &__col{
    width: 33.33%;
    padding: 0 15px;
  }

  &__col-holder{
    background: #eafaff;
    padding: 50px;
    border-radius: 10px;
  }

  .btn-primary{
    background: #0aa7e0;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 10px 50px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  &__link{
    color: #2374bb;
    text-decoration: none;
    font-style: italic;
  }
}

/* 
private backend styles

*/


.dashboard-block{
  padding: 50px 0;

  .sm-title{
    display: block;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &--sidebar-holder{
    padding: 0;

    .container{
      display: flex;
      flex-flow: row wrap;
    }
  }

  .btn-back{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;
    color: #2374bb;
    margin-bottom: 20px;
  }
}

.current-item{
  background: #fff;
  border-radius: 10px;
  padding: 20px;

  .title{
    display: block;
    color: #2374bb;
    text-transform: uppercase;
  }
}

.sidebar{
  padding: 50px 30px 0 0;
  width: 25%;
  background: #f4f4f4;
  position: relative;
  &:after{
    position: absolute;
    content: '';
    top: 0;
    right: 100%;
    width: 9999px;
    bottom: 0;
    background: #f4f4f4;
  }
}

.content{
  width: 75%;
  padding: 50px;
}

.links-setup-block{
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;

  .btns-holder{

    .btn-primary,
    .btn-secondary{
      display: inline-block;
      vertical-align: top;
      width: 200px;
      background: #2374bb;
      color: #fff;
      text-transform: uppercase;
      padding: 25px 30px;
      border-radius: 10px;
      text-decoration: none;
      font-weight: bold;
      text-align: center;
      margin: 0 10px 0 0;
    }

    .btn-secondary{
      background: #f2f2f2;
      color: #2374bb;
    }
  }
}

.setup-block{
  background: #f2f2f2;
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 350px;
  justify-content: space-between;

  .progress-bar{
    width: 50%;
    padding: 0 10px;
  }

  .checklist{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 40%;
    font-size: 12px;
    line-height: 16px;

    li{
      position: relative;
      padding: 0 0 2px 20px;
      &:before{
        position: absolute;
        content: '';
        top: 2px;
        left: 0;
        height: 12px;
        width: 12px;
        border: 1px solid #2374bb;
        border-radius: 100%;
      }

      &.checked{
        &:before{
          background: #2374bb;
        }
      }
    }
  }

  .bar{
    width: 100%;
    height: 13px;
    border-radius: 20px;
    border: 1px solid #0aa7e0;
    overflow: hidden;

    span{
      width: 33.33%;
      display: block;
      background: #0aa7e0;
      height: 11px;
      border-radius: 0 10px 10px 0;
    }
  }

  .title{
    display: block;
    color: #2374bb;
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
}


.scoreboard-block{
  display: flex;
  flex-flow: row wrap;
  margin: 0 -10px 30px;

  .col{
    width: 25%;
    margin: 0 10px;
    display: flex;
    flex-flow: row wrap;
    background: #f2f2f2;
    padding: 80px 20px 40px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .col-holder{
    width: 100%;
    color: #2374bb;
    text-transform: uppercase;
    text-align: center;
    
  }

  .title{
    display: block;
    font-size: 12px;
    line-height: 26px;
  }

  .num{
    display: block;
    font-size: 40px;
    line-height: 47px;
  }

  .subtitle{
    display: block;
    font-size: 16px;
    line-height: 24px;
  }

  select::-ms-expand {display: none;}


  .select-holder{
    position: absolute;
    top: 30px;
    left: 0;
  }

  .fake-select{
    position: relative;
    display:inline-block;
  }

	select{
			display:inline-block;
			padding:5px 30px 4px 15px;
			margin:0;
			outline:none;
			line-height:1.2;
			background:#9c9999;
			-webkit-appearance:none;
			-webkit-border-radius:0 6px 6px 0;
			-moz-border-radius:0 6px 6px 0;
			appearance:none;
			border-radius:0 6px 6px 0;
			min-width:50px;
      position: relative;
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
    }
    
		.fake-select:after{
			position: absolute;
			right:8px;
			content:'';
			width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #fff;
			position:absolute;
			top:50%;
			margin-top:-2px;
			line-height: 0;
			z-index: 1;
		}
}

.cat-selection-block{
  max-width: 900px;
  margin: 0 auto;

  .lg-title{
    display: block;
    text-align: center;
    color: #2374bb;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

.categories{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 -10px;
  


  &__input-holder{
    width: 33.33%;
    padding: 0 10px 20px;
    
  }

  &__img{
    min-height: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    img{
      display: block;
      margin: 0 auto;
    }
  }

  input[type="radio"]{
    display: none;
    &:checked ~ {
      label{
        border-color: #2374bb;
        &:after{
          display: block;
        }
      }
    }
  }

  label{
    display: block;
    border: 1px solid #d8d8d8;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    position: relative;

    &:after{
      position: absolute;
      content: '\e809';
      font-family: 'fontello';
      top: 12px;
      right: 12px;
      height: 20px;
      width: 20px;
      border-radius: 100%;
      background: #2374bb;
      color: #fff;
      font-size: 10px;
      line-height: 13px;
      padding: 4px 0 0;
      display: none;
    }

    &:hover{
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__title{
    display: block;
    text-transform: uppercase;
    color: #707070;
  }
}

.steps-bar{
  padding: 50px 0;
  ul{
    margin: 0;
    padding:10px 0 0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    &:before{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: #2374bb;
    }
  }

  li{
    position: relative;
    text-transform: uppercase;
    color: #2374bb;
    padding: 10px 0 0;


    &.active{
      font-weight: bold;
      color: #0aa7e0;
      &:before{
        background: #0aa7e0;
        border-color: #0aa7e0;
      }

      &:after{
        display: none;
      }

      ~ li{
        &::before{
          background: #fff;
        }

        &:after{
          display: none;
        }
      }
    }


    &:first-child{
      &:before{
        left: 0;
        transform: none;
      }

      &:after{
        left: 2px;
        transform: none;
      }
    }
    

    &:last-child{
      &:before{
        right: 0;
        left: auto;
        transform: none;
      }

      &:after{
        right: 3px;
        left: auto;
        transform: none;
      }
    }
    &:before{
      position: absolute;
      content: '';
      top: -16px;
      height: 14px;
      width: 14px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 100%;
      border: 1px solid #2374bb;
      background: #2374bb;
    }

    &:after{
      position: absolute;
      content: '\e809';
      font-family: 'fontello';
      top: -14px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 7px;
      line-height: 12px;
      color: #fff;
    }
  }

  span{
    display: block;
  }
}

.tooth-select-block{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  &__col{
    width: 50%;
    padding: 0 20px;

    &:first-child{
      text-align: right;
      ul{
        &:last-child{
          .value{
            border-bottom: none;
            border-top: 2px solid #d8d8d8;
          }
        }
      }
    }

    &:last-child{
      ul{
        &:first-child{
          .value{
            border-right: none;
            border-left: 2px solid #d8d8d8;
          }
        }

        &:last-child{
          .value{
            border-bottom: none;
            border-right: none;
            border-left: 2px solid #d8d8d8;
            border-top: 2px solid #d8d8d8;
          }
        }
      }
    }
  }

  ul{
    margin: 0 0 10px;
    padding: 0;
    list-style: none;

    li{
      display: inline-block;
      vertical-align: top;
      padding: 0 2px;
    }

    label{
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #d8d8d8;
      border-radius: 4px;
      height: 59px;
      width: 40px;
      cursor: pointer;

      &:hover{
        
      }

    }
  }

  .value{
    display: inline-block;
    vertical-align: top;
    padding: 5px 7px;
    border-right: 2px solid #d8d8d8;
    border-bottom: 2px solid #d8d8d8;
  }

  input[type="radio"]{
    display: none;
    &:checked ~ {
      label{
        background-color: #96d4e8;
      }
    }
  }
}

.your-cart-block{

  .title{
    display: block;
    text-transform: uppercase;
    margin-bottom: 30px;
  }


  .cart-holder{
    margin-bottom: 30px;
    border-radius: 12px;
    border: 2px solid #d8d8d8;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .img-holder{
    width: 25%;

    img{
      display: block;
      margin: 0 auto;
    }
  }

  .details{
    width: 55%;
    padding: 0 40px;
  }

  .price-info-block{
    width: 20%;
  }

  .details-list{
    margin:0;
    padding: 0;
    list-style: none;

    li{
      padding: 0 0 0 10px;
      position: relative;
      &:before{
        position: absolute;
        content: '';
        top: 7px;
        left: 0;
        height: 1px;
        width: 3px;
        background: #707070;
      }
    }
  }

  .d-title{
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
  }

  .subtitle{
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
  }

  .price-quantity{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .price{
    display: block;
    width: 50%;
    font-size: 22px;
    line-height: 26px;
    margin-top: 10px;
  }

  .quantity-block{
    width: 40%;
    text-align: right;

    span{
      display: block;
      text-align: center;
      color: #a8a8a8;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      margin-bottom: 5px;
    }
  }

  .quantity {
    position: relative;
    max-width: 60px;
    font-size: 14px;
    font-weight: 700;
    margin:0 0 0 auto;

    input {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 6px;
      border: 2px solid #d8d8d8;
      -moz-appearance: textfield;
      margin: 0 auto;
      text-align: center;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    &__btn {
      position: absolute;
      right: 0;
      cursor: pointer;
      top: 50%;
      

      &:after {
        position: absolute;
        content: "";
        left:-5px;
        border-width: 5px;
        border-style: solid;
        transform: translateY(-50%);
      }
      &--up {

        &:after {
          border-color: transparent transparent transparent #a8a8a8;
        }
      }
      &--down {
        right: auto;
        left: 0;

        &:after {
          border-color: transparent #a8a8a8 transparent transparent ;
        }
      }
    }
  }

  .btns-holder{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  .btn-remove{
    text-decoration: none;
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
  }

  .btn-primary{
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    border-radius: 7px;
    background-color: #0aa7e0;
    text-transform: uppercase;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 14px;
  }
}