#wrapper{
  position: relative;
  width:100%;
  overflow: hidden;
}

.container{
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  @extend %clearfix;
}

.section{
  padding: 50px 0;
}

.boxes-img{
  margin-bottom: 10px;
}

.d-none{
  display: none !important;
}

.form-holder{
  background: #eafaff;
  padding: 30px;
  text-align: center;
  max-width: 600px;

  .title{
    color: #0aa7e0;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 26px;
  }

  p{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
  }
}

.events-block{
  color: #5a5a5a;
  padding: 50px 0;
  
  h3{
    text-transform: uppercase;
    color: #2374bb;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 28px;
  }

  .events-block__subtitle{
    color: #0aa7e0;
    display: block;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  p{
    font-style: italic;
  }

  .events-block__event-holder{
    background: #eafaff;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .events-block__icon-holder{
    width: 120px;
    flex-shrink: 0;
    margin: 0 30px 0 0;

    img{
      display: block;
      margin: 0 auto;
    }
  }

  .events-block__text-holder{
    flex-grow: 1;
    padding: 0 50px 0 0;
  }

  .events-block__btn-holder{
    flex-shrink: 0;
  }

  .btn-primary{
    background: #0aa7e0;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
  }
}

.team-block{
  padding: 50px 0;

  .team-block__team-holder{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 30px;
    align-items: center;
    background: #eafaff;
  }

  .team-block__img-holder{
    width: 30%;
    flex-shrink: 0;
    img{
      display: block;
    }
  }

  .team-block__text-holder{
    flex-grow: 1;
    padding: 50px;
  }

  .team-block__title{
    display: block;
    color: #0aa7e0;
    margin-bottom: 10px;
  }

  h2{
    color: #2374bb;
    text-transform: uppercase;
  }
}

.info-section{
  text-align: center;
  color: #fff;
  background-color: #215fac;
  background-image: url(../images/Footer-Pattern.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 100%;

  h3{
    text-transform: uppercase;
  }

  .info-section__subtitle{
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
  }
}