#wrapper{
  position: relative;
  width:100%;
  overflow: hidden;
}

.container{
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  @extend %clearfix;
}

.section{
  padding: 50px 0;
}

.boxes-img{
  margin-bottom: 10px;
}

.d-none{
  display: none !important;
}



.events-block{
  color: #5a5a5a;
  padding: 50px 0;
  
  h3{
    text-transform: uppercase;
    color: #2374bb;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 28px;
  }

  &__subtitle{
    color: #0aa7e0;
    display: block;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  p{
    font-style: italic;
  }

  &__event-holder{
    background: #eafaff;
    padding: 20px 20px 20px 50px;
    max-width: 800px;
    margin: 0 auto 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: 10px;
  }

  &__text-holder{
    flex-grow: 1;
    padding: 0 50px 0 0;
  }

  &__btn-holder{
    flex-shrink: 0;
  }

  .btn-primary{
    background: #0aa7e0;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
  }
}

.team-block{
  padding: 50px 0;

  &__team-holder{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 30px;
    align-items: center;
    background: #eafaff;
    border-radius: 10px;
    overflow: hidden;
  }

  &__img-holder{
    width: 30%;
    flex-shrink: 0;
    img{
      display: block;
    }
  }

  &__text-holder{
    flex-grow: 1;
    padding: 50px;
  }

  &__title{
    display: block;
    color: #0aa7e0;
    margin-bottom: 10px;
  }

  h2{
    color: #2374bb;
    text-transform: uppercase;
  }
}


.download-files-block{
  padding: 50px 0;

  &__download-holder{
    max-width: 600px;
    margin: 0 auto 30px;
    background: #eafaff;
    padding: 20px 30px 20px 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: 10px;
  }

  &__pdf-icon{
    width: 80px;
    margin: 0 40px 0 0;
  }

  h3{
    text-transform: uppercase;
    color: #0aa7e0;
    font-size: 16px;
    line-height: 26px;
  }

  &__download-btn{
    width: 50px;
    display: block;
    align-self:flex-end;
  }

  &__text-holder{
    padding: 0 50px 0 0;
  }
}

.steps-block{
  padding: 50px 0;
  text-align: center;

  h2{
    color: #2374bb;
    text-transform: uppercase;
  }

  &__subtitle{
    color: #0aa7e0;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 23px;
  }

  &__num{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 0 auto 30px;
    border-radius: 5px;
    background: #0aa7e0;
    color: #fff;
    font-size: 22px;
  }

  &__steps-holder{
    display: flex;
    flex-flow: row wrap;
    margin: 0 -15px 40px;
  }

  &__col{
    width: 33.33%;
    padding: 0 15px;
  }

  &__col-holder{
    background: #eafaff;
    padding: 50px;
    border-radius: 10px;
  }

  .btn-primary{
    background: #0aa7e0;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 10px 50px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  &__link{
    color: #2374bb;
    text-decoration: none;
    font-style: italic;
  }
}

.products-block{
  padding: 50px 0;

  h2{
    text-transform: uppercase;
    color: #2374bb;
  }

  &__product-holder{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    margin-bottom: 40px;
    border-radius: 15px;
    overflow: hidden;

    &:nth-child(odd){
      flex-direction: row-reverse;
      color: #fff;

      h2{
        color: #fff;
      }

      .products-block__text-holder{
        background: #2374bb;
      }
    }
  }

  &__img-holder{
    background: #f2f2f2;
    padding:20px 50px;
    width: 35%;
    display: flex;
    align-items: center;
  }

  &__text-holder{
    background: #eafaff;
    padding: 50px;
    width: 65%;
    display: flex;
    align-items: center;
  }

  &__text-frame{
    max-width: 80%;
  }
}

.products-list{
  &__list-holder{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
  }

  &__img-holder{
    max-width: 100px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    min-height: 130px;
  }

  &__col{
    width: 25%;
    margin-bottom: 30px;
    padding: 0 50px;
  }

  &__name{
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #0aa7e0;
  }
}