#footer{
  padding: 70px 0;
  align-self: flex-end;

  .logo-text-block{
    width: 50%;
    padding: 0 120px 0 0;
    display: flex;
    flex-flow: row nowrap;
  }

  .container{
    display: flex;
    flex-flow: row wrap;
  }

  .footer__logo{
    width: 150px;
    flex-shrink: 0;
    margin: 0 40px 0 0;

    img{
      display: block;
      width: 100%;
    }
  }

  .footer__text-block{
    flex-grow: 1;

    .footer__title{
      display: block;
      margin-bottom: 10px;
      color: #2374bb;
      text-transform: uppercase;
    }

    a{
      color: #0aa7e0;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .footer__copyright-text{
    display: block;
    clear:both;
    text-align: center;
    text-transform: uppercase;
    color: #2374bb;
    margin-top: 20px;
    width: 100%;
  }
}

.footer__links-block{
  display: flex;
  flex-flow: row wrap;
  width: 30%;

  .footer__col{
    width: 50%;
    padding: 0 20px;
    &:first-child{
      text-align: right;
    }
  }

  ul{
    @extend %listreset;
  }
  
  a{
    text-decoration: none;
    color: #2374bb;
    text-transform: uppercase;
  }
}

.footer__address-block{
  width: 20%;
  text-align: right;
  a{
    text-decoration: none;
    color: #2374bb;
    text-transform: uppercase;

    &.tel{
      color: #0aa7e0;
    }
  }

  address{
    font-style: normal;
    display: block;
  }

  span{
    display: block;
  }
}

.primary-footer{
  border-top: 5px solid #2374bb;
  padding: 50px 0;
  
  .container{
    align-items: center;
  }
  .logo-text-block{
    align-items: center;
  }
  
  .footer__address-block{
    text-align: left;
    width:auto;
    flex-grow:1;

    a{
      color: #2374bb;

      &.tel{
        color: #0aa7e0;
      }
    }
  }

  address{
    margin-bottom: 10px;
  }

  .links-btn-block{
    width: 50%;
    text-align: right;
  }

  .links{
    margin: 0 0 15px;
    padding: 0;
    list-style: none;

    li{
      display: inline-block;
      vertical-align: top;
      padding: 0 0 0 20px;
    }

    a{
      text-decoration: none;
      color: #2374bb;
      text-transform: uppercase;
    }
  }

  .btn-primary{
    background: #2374bb;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
  }
}