#footer{
  padding: 10px 0;
  align-self: flex-end;
  background: url(../images/Footer-Pattern.svg) no-repeat;
  background-size: cover;
  @include media('>=xl-screen') {
    font-size: 16px;
    line-height: 28px;
    padding: 20px 0;
  }

  .container{
    @include media('>=xl-screen') {
      max-width: 1550px;
    }
  }

  .logo-text-block{
    width: 50%;
    padding: 0 120px 0 0;
    display: flex;
    flex-flow: row nowrap;
    @include media('>=xl-screen') {
      width: 57%;
    }
  }

  .container{
    display: flex;
    flex-flow: row wrap;
  }

  .footer__logo{
    width: 70px;
    flex-shrink: 0;
    margin: 0 24px 0 0;
    @include media('>=xl-screen') {
      width: 100px;
    }

    img{
      display: block;
      width: 100%;
    }
  }

  .footer__text-block{
    flex-grow: 1;

    .footer__title{
      display: block;
      margin-bottom: 10px;
      color: $mariner;
      text-transform: uppercase;
      @include media('>=xl-screen') {
        font-size: 20px;
        line-height: 25px;
      }
    }

    a{
      color: $cerulean;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .footer__copyright-text{
    display: block;
    clear:both;
    text-align: center;
    text-transform: uppercase;
    color: $mariner;
    width: 100%;
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    @include media('>=xl-screen') {
      margin-top: 5px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.footer__links-block{
  display: flex;
  flex-flow: row wrap;
  width: 30%;
  @include media('>=xl-screen') {
    width: 28%;
  }
  

  .footer__col{
    width: 50%;
    padding: 0 20px;
    &:first-child{
      text-align: right;
    }
  }

  ul{
    @extend %listreset;
  }
  
  a{
    text-decoration: none;
    color: $mariner;
    text-transform: uppercase;
  }
}

.footer__address-block{
  width: 20%;
  text-align: right;
  font-size: 11px;
  line-height: 14px;

  @include media('>=xl-screen') {
    width: 15%;
  }

  a{
    text-decoration: none;
    color: $mariner;
    text-transform: uppercase;

    &.tel{
      color: $cerulean;
    }
  }

  address{
    font-style: normal;
    display: block;
  }

  span{
    display: block;
  }
}

.primary-footer{
  border-top: 8px solid $mariner;
  padding: 50px 0;
  
  .logo-text-block{
    align-items: center;
  }
  
  .footer__address-block{
    text-align: left;
    width:auto;
    flex-grow:1;

    a{
      color: $mariner;
      font-weight: 600;

      &.tel{
        color: $cerulean;
      }
    }
  }

  .links-btn-block{
    width: 43%;
    text-align: right;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    @include media('>=xl-screen') {

    }
  }

  .links{
    margin: 15px 0 ;
    padding: 0;
    list-style: none;
    @include media('>=xl-screen') {
      margin: 17px 0 ;
    }

    li{
      display: inline-block;
      vertical-align: top;
      padding: 0 0 0 20px;
      @include media('>=xl-screen') {
        padding: 0 0 0 35px;
      }
    }

    a{
      text-decoration: none;
      color: $mariner;
      text-transform: uppercase;
    }
  }

  .btn-primary{
    background: $mariner;
    color: $white;
    text-transform: uppercase;
    border: none;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
  }
}