#footer{
  padding: 70px 0;
  background: url(../images/Footer-Pattern.svg) no-repeat;
  background-size: 100%;
  background-position: 0 100%;

  .logo-text-block{
    width: 50%;
    padding: 0 120px 0 0;
    display: flex;
    flex-flow: row nowrap;

    a{
      color: #0aa7e0;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .container{
    display: flex;
    flex-flow: row wrap;
  }

  .footer__logo{
    width: 150px;
    flex-shrink: 0;
    margin: 0 40px 0 0;

    img{
      display: block;
      width: 100%;
    }
  }

  .footer__text-block{
    flex-grow: 1;

    .footer__title{
      display: block;
      margin-bottom: 10px;
      color: #2374bb;
      text-transform: uppercase;
    }
  }

  .footer__copyright-text{
    display: block;
    clear:both;
    text-align: center;
    text-transform: uppercase;
    color: #2374bb;
    margin-top: 20px;
    width: 100%;
  }
}

.footer__links-block{
  display: flex;
  flex-flow: row wrap;
  width: 50%;

  .footer__col{
    width: 30%;
    &.footer__col--address-block{
      width: 40%;
      text-align: right;
    }
  }
  ul{
    @extend %listreset;
  }

  span{
    display: block;
  }
  
  a{
    text-decoration: none;
    color: #2374bb;
    text-transform: uppercase;

    &.tel{
      color: #0aa7e0;
    }
  }

  address{
    font-style: normal;
  }

}