.form-holder{
  background: #eafaff;
  padding: 30px;
  text-align: center;
  max-width: 600px;
  border-radius: 10px;

  &__title{
    color: #0aa7e0;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 26px;
  }

  p{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
  }
}


.form{
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea{
    width: 100%;
    border: none;
    background: #fff;
    margin-bottom: 20px;
    padding: 15px 20px;
    @include placeholder{
      color: #a8a8a8;
    }
  }

  textarea{
    resize: none;
    height: 180px;
  }

  .btn-primary{
    background: #0aa7e0;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 10px 40px;
    border-radius: 10px;
  }
}

.question-form-block{
  background: #eafaff;
  text-align: center;

  h2{
    text-transform: uppercase;
    color: #2374bb;
    margin-bottom: 30px;
  }
}

.question-form{
  &__input-holder{
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 190px 0 70px;
    background: #fff;
  }

  img{
    position: absolute;
    left: 20px;
    top: 50%;
    width: 30px;
    transform: translateY(-50%);
  }

  input[type="search"]{
    width: 100%;
    border: none;
    padding: 20px 0;
    outline: none;
    font-size: 20px;
    line-height: 26px;
    text-overflow: ellipsis;
    border-radius: 10px;
    @include placeholder{
      color: #a8a8a8;
    }
  }

  .btn-primary{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: #0aa7e0;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 10px 40px
  }
}

.sl-form{
  max-width: 924px;
  margin:0 auto 50px;

  &--login{
    max-width: 400px;

    &__btn-holder{
      margin: 0 -10px 15px;
      display: flex;
      flex-flow: row wrap;
    }

    &__btn{
      padding: 0 10px;
      width: 50%;
    }

    button{
      width: 100%;
    }
  }

  &__block{
    padding-bottom: 32px;
    margin-bottom: 30px;
    border-bottom: 1px solid #d8d8d8;
  }

  &__label{
    display: block;
    margin-bottom: 4px;
    color: #a8a8a8;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
  }

  h2{
    color: #2374bb;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 12px;
  }

  p{
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 22px;
  }

  &__row{
    margin: 0 -15px;
    display: flex;
    flex-flow: row nowrap;
    text-align: left;
  }

  &__input-holder{
    margin-bottom: 15px;
    padding: 0 15px;
    min-width: 33.3%;
    width: 100%;
    position: relative;
    font-size: 20px;
    line-height: 24px;
    &.error{
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      input[type="password"]{
        border-color: #cc0813;
        background-color: #f8d9da;
      }

      .error-info{
        display: block;
      }

    }
  }

  &__title{
    display: block;
    margin: 30px 0 21px;
    text-align: left;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 20px;
    color: #707070;
  }

  .error-info{
    position: absolute;
    top: 100%;
    left: 10px;
    color: #cc0813;
    font-style: italic;
    padding-top: 5px;
    font-size: 12px;
    line-height: 15px;
    display: none;
  }

  a{
    text-decoration: none;
    color: #2374bb;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"]{
    width: 100%;
    border-radius: 9px;
    background: #f2f2f2;
    padding: 14px 20px;
    outline: none;
    text-transform: capitalize;
    border: 1px solid transparent;
    &:focus{
      border-color: #a8a8a8;
    }

    @include placeholder{
      color: #a8a8a8;
    }

  }

  &__text-holder{
    text-align: center;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 52px;

    strong{
      font-style: italic;
      display: block;
      font-weight: 600;
    };
  }

  &__btn-holder{
    text-align: center;
  }

  .btn-primary{
    background: #0aa7e0;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 15px 40px;
    border-radius: 9px;
    width: 270px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
  }

  .btn-secondary{
    background: #2374bb;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
  }

  .fake-select{
    position: relative;
    display:block;
  }

	select{
			display:block;
			margin:0;
			outline:none;
			line-height:1.2;
			border-radius: 9px;
      background: #f2f2f2;
      padding: 18px 20px;
			appearance:none;
      position: relative;
      border: none;
      width: 100%;
      color: #a8a8a8;
      font-size: 16px;
      line-height: 20px;

      @include placeholder{
        color: #a8a8a8;
      }
    }
    
		.fake-select:after{
			position: absolute;
			right:15px;
			content:'';
			width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #a8a8a8;
			position:absolute;
			top:50%;
			margin-top:-2px;
			line-height: 0;
			z-index: 1;
		}

    &__radio-list{
      margin-bottom: 50px;
    }

    &__radio-input{
      margin-bottom: 20px;
      font-size: 15px;
      line-height: 20px;
      font-weight: bold;
    }

    &__radio-input [type="radio"]{
			position: absolute;;
			left:6px;
			top:6px;
      z-index: -1;
		}
		&__radio-input .fake-input ,
		&__radio-input label {
			display:inline-block;
      vertical-align: middle;
      font-weight: bold;
      text-transform: uppercase;
      color: #707070;
      position: relative;
      background: $white;
      z-index: 1;

      strong{
        text-transform: none;
      }
    }
    
		&__radio-input  label{
      padding-right: 5px;
    }
    
    .fake-input{
			display: inline-block;
			width:28px;
			height:28px;
			border:1px solid #d8d8d8;
			background:#fff;
			vertical-align: middle;
			position: relative;
			margin-right: 21px;
		}
    
    .fake-input{border-radius:100%;}


		.fake-input:before{
			content:'';
			position: absolute;
			top: 5px;
			right: 5px;
			bottom: 5px;
			left: 5px;
			background: #1ba7e0;
			border-radius:100%;
			opacity: 0;
		}

		input[type="radio"]:checked + .fake-input:before{opacity:1;}
}