#header{
  padding: 50px 0 20px;
  position: relative;
  background: url(../images/Header-Pattern.svg) no-repeat;
  background-size: 100%;
  box-shadow: 0 0 10px rgba($black, 0.3);
  z-index: 99;

  .header__logo{
    float: left;
    width: 300px;
    img{
      width: 100%;
    }
  }
}