#header{
  padding: 25px 0 50px;
  position: relative;
  z-index: 99;
  z-index: 1;

  @include media('>=xl-screen') {
    padding: 35px 0 60px;
  }
  
  &:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/Header-Pattern.svg) no-repeat;
    background-size: cover;
    z-index: -1;
  }
  
  .container{
    @include media('>=xl-screen') {
      max-width: 1550px;
    }
  }

  .header__logo{
    float: left;
    width: 210px;

    @include media('>=xl-screen') {
      width: 402px;
      margin-top: 30px;
    }
    img{
      width: 100%;
    }
  }

  &.primary-header{
    background: url(../images/bg-1.jpg) no-repeat;
    background-position: 0 100%;
    background-size: 100%;
  }

  &.secondary-header{
    padding: 100px 0 50px;
    box-shadow: none;
    .header__logo{
      width: 200px;
      margin: 0 auto;
      float: none;
    }
  }
}

.dr-profile{
  float: right;
  margin: -5px -5px 0 0;
  @include media('>=xl-screen') {
    margin: 45px -5px 0 0;
  }

  
  .dr-name{
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    @include media('>=xl-screen') {
      font-size: 19px;
      line-height: 24px;
    }

    a{
      color: #2374bb;
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      vertical-align: top;
      padding: 0 17px 0 0;
      letter-spacing: 0.9px;

      i{
        margin-right: 5px;
        @include media('>=xl-screen') {
          font-size: 16px;
          line-height: 20px;
        }
      }

      &:after{
        position: absolute;
        content: '\e818';
        font-family: 'fontello';
        top: 0;
        right: 0;
      }
    }
  }

  .bucket-icon{
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 30px;
  }

  
}