

.header__nav-links-block{
  float: right;
  text-align: right;

  .header__links-list{
    @extend %listreset;
    margin-bottom: 20px;

    li{
      display: inline-block;
      vertical-align: top;
      padding: 0 0 0 10px;
    }

    img{
      display: inline-block;
      vertical-align: top;
      margin: 0 5px 0 0;
    }

    a{
      text-decoration: none;
      color: #2374bb;
      text-transform: uppercase;
    }
  }
}

#header__nav{
  >ul{
    @extend %listreset;

    >li{
      display: inline-block;
      vertical-align: top;
      padding: 0 0 0 20px;
      position: relative;
      
      &.active{
        a{
          background: #d7f1fa;
        }
      }

      &:hover{
        a{
          background: #d7f1fa;
        }
        .inner-nav{
          display: block;
        }
      }

      >a{
        text-decoration: none;
        color: #2374bb;
        display: block;
        padding: 8px 20px;
        text-transform: uppercase;
        
        &:hover{
          background: #d7f1fa;
        }
    
        &.btn-primary{
          background: #0aa7e0;
          color: #fff;
        }
      }
    }
  } 
  .inner-nav{
    position: absolute;
    top: 100%;
    left: 20px;
    right:0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: none;
    
    li{
      border-top: 1px solid #fff;
      position: relative;
      &:hover{
        a{
          background: #f4f4f4;
        }
        .info-block{
          display: block;
        }
      }
    }

    a{
      text-decoration: none;
      color: #2374bb;
      display: block;
      padding: 8px 10px;
      text-transform: uppercase;
      background: #d7f1fa;
      &:hover{
        background: #f4f4f4;
      }
    }
  }

  .info-block{
    position: absolute;
    top: 0;
    left: 100%;
    width: 300px;
    text-align: left;
    padding: 20px;
    background: #f4f4f4;
    display: none;

    .title{
      display: block;
      margin-bottom: 5px;
      color: #2374bb;
    }

    p{
      margin-bottom: 0;
    }
  }
}